$grey: #141517;
$grey-opacity: #2C2E3F;
$form-background: #FBF8F8;
$white: #FFFFFF;
$black: #000000;
$orange: #FE7865;
$border: #D7D9DF;
$link: #48494D;
$grey-rgba: rgba(44, 46, 63, 0.7);
$grey-countries: rgba(44, 46, 63, 0.3);
$grey-title: rgba(44, 46, 63, 1);
$grey-directions: rgba(20, 21, 23, 0.5);
$grey-price: rgba(20, 21, 23, 0.7);
$grey-price-opacity: rgba(20, 21, 23, 1);
$hover-card: rgba(20, 21, 23, 0.6);
$price-border: rgba(255, 255, 255, 1);
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;
