.page-footer {
  display: grid;
  grid-template-rows: 350px 188px 250px;
  margin-top: 50px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 396px 330px;
    grid-template-rows: 210px 210px;
    margin: 80px 21px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 390px);
    grid-template-rows: 195px;
    margin: 200px 380px 74px;
  }
}
