.questions {
  position: relative;

  @media (min-width: $tablet-width) {
    background-image: url(../img/questions-img-tablet.jpg);
    background-size: 767px 455px;
    background-position: 0 0;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 373px;
    background-image: none;
  }
}

.questions img {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.questions__form {
  background-color: $form-background;
  padding-bottom: 65px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 44px;
    right: 49px;
    width: 656px;
    height: 235px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    top: 80px;
    right: 360px;
    height: 250px;
  }
}

.questions__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: $grey;
  padding-top: 20px;
}

.questions__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $grey;
  margin-left: 16px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.questions-bottom {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 35px;
    left: 27%;
  }
}
