.travel-way {
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 616px;
    margin: 0 76px;
  }
  @media (min-width: $desktop-width) {
    margin: 0 375px;
  }
}

.travel-way__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: $grey-opacity;
  }
  @media (min-width: $desktop-width) {
    font-style: normal;
    font-size: 55px;
    line-height: 80px;
    width: 358px;
    text-align: left;
  }

  &::before {
    @media (min-width: $desktop-width) {
      position: absolute;
      content: "";
      top: 200px;
      left: 0px;
      width: 229px;
      height: 4px;
      background-color: $orange;
    }
  }
}

.travel-way__text {
  font-size: 16px;
  line-height: 28px;
  color: $grey-rgba;
  width: 288px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 343px;
  }

  @media (min-width: $desktop-width) {
    margin: 110px 0 20px;
    width: 350px;
    text-align: left;
  }
}

.travel-way__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  width: 288px;
  padding: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 616px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    width: 1170px;
  }
}

.travel-way__item {
  position: relative;
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}


.travel-way__img {
  width: 288px;
  height: 425px;

  @media (min-width: $desktop-width) {
    width: 350px;
    height: 430px;
  }
}

.travel-way__item--montenegro {
  @media (min-width: $desktop-width) {
    margin-left: 200px;
  }
}

.travel-way__item--croatia {
  @media (min-width: $desktop-width) {
    margin-right: 200px;
  }
}

.travel-way__link p {
  position: absolute;
  background-color: #fff;
  color: #2c2e3f;
  width: 215px;
  margin-top: -70px;
  margin-left: 40px;
  padding-top: 15px;
  height: 63px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  z-index: 1;

  @media (min-width: $desktop-width) {
    margin-top: -61px;
    margin-left: 72px;
  }
}

.travel-way__item--greece {
  content: "Греция";
}

.travel-way__item--albania {
  content: "Албания";
}

.travel-way__item--macedonia {
  content: "Македония";
}

.travel-way__item--montenegro {
  content: "Черногория";
}

.travel-way__item--croatia {
  content: "Хорватия";
}
